// Custom styles.
.local-search-input
  height: 30px
  line-height: 30px
  box-sizing: border-box
  padding: 0 15px 0 30px
  border: 1px solid #e3e3e3
  color: #2c3e50
  outline: none
  border-radius: 15px
  margin-right: 10px
  transition: border-color 0.2s ease
  background: #fff url(../images/search.png) 8px 5px no-repeat
  background-size: 20px
  vertical-align: middle !important
  &:focus
    border-color: #4fc08d


#local-search-close
  content: 'x'
  position: absolute
  right: 18px
  top: 9px
  background: #f5f5f5
  color: #888
  border-radius: 100%
  line-height: 20px
  text-align: center
  font-size: 16px
  font-family: consolas
  border: 1px solid #c7c7c7
  display: block
  width: 20px
  height: 20px
  cursor: pointer
  font-style: normal
  font-weight: bold
  &:hover
    transform: rotateZ(360deg);
    border-color: #c5c5c5
    color: #ffaffe
    transition: all 0.15s

.local-search-result
  position: absolute
  z-index: 99
  width: 400px
  top: 70px
  border-radius: 50px
  .local-search-empty
    color: #888
    line-height: 44px
    text-align: center
    display: block
    font-size: 16px
    font-weight: normal
  ul
    width: 360px
    max-height: 450px
    min-height: 0
    height: auto
    overflow-y: auto
    border: 1px solid #CCC
    padding: 10px 20px
    background: #F5F5F5
    box-shadow: 1px 2px 4px #CCC
    li
      text-align: left
      border-bottom: 1px solid #CCC
      line-height: 30px
      font-weight: normal
      &:last-child
        border-bottom: none
        margin-bottom: 0
      a
        margin-top: 20px
        font-size: 16px
      p
        margin-top: 10px
        font-size: 14px
        max-height: 124px
        overflow: hidden
      em.search-keyword
        color: #4fc08d


.local-search-plugin
  .local-search-input
    opacity: 0.6
    width: 160px
    transition: all 0.3s
    &:hover
      opacity: 1
      width: 200px
      transition: all 0.3s
  .icon
    position: relative
    left: -30px
    color: #999
    cursor: pointer


.search-result-title
  color: #ffad92