<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Itimot's Book</h2>
      <h1>
        个人文档笔记
      </h1>
      <p>
        <a class="button" href="<%- url_for("/ml/tensorflow/") %>">开始</a>
        <a class="button white" href="https://github.com/itimor/itimorbooks" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="special-sponsor">
  <a href="https://stdlib.com/" target="_blank">
    <span>心有猛虎 细嗅蔷薇</span>
  </a>
</div>

<div id="highlights">
  <div class="inner">

    <div class="point">
      <img src="/images/quant.jpeg">
      <p>量化</p>
    </div>

    <div class="point">
      <img src="/images/tensorflow.png">
      <p>Tensorflow</p>
    </div>

    <div class="point">
      <img src="/images/jinrong.jpg">
      <p>交易</p>
    </div>
  </div>
</div>

<div id="footer">
  Copyright &copy; 2017-<%- new Date().getFullYear() %> Itimor</p>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorActive = false

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
