<li>
  <form id="search-form">
    <input type="text" id="local-search-input" class="local-search-input">
    <div id="local-search-result" class="local-search-result"></div>
  </form>
</li>
<%- partial('partials/ml_dropdown') %>
<li>
  <a href="<%- url_for("/about/") %>" class="nav-link team<%- page.path.match(/about/) ? ' current' : '' %>">about</a>
</li>