<li class="nav-dropdown-container learn">
  <a class="nav-link">机器学习</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="<%- url_for("/ml/tensorflow/") %>" class="nav-link<%- page.path.match(/\/tensorflow(\/|$)/) ? ' current' : '' %>">Tensorflow</a></li>
    </ul></li>
  </ul>
</li>
